@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Black.ttf);
  src: url(../fonts/Lato/Lato-BlackItalic.ttf);
  src: url(../fonts/Lato/Lato-Bold.ttf);
  src: url(../fonts/Lato/Lato-BoldItalic.ttf);
  src: url(../fonts/Lato/Lato-Hairline.ttf);
  src: url(../fonts/Lato/Lato-HairlineItalic.ttf);
  src: url(../fonts/Lato/Lato-Italic.ttf);
  src: url(../fonts/Lato/Lato-Light.ttf);
  src: url(../fonts/Lato/Lato-LightItalic.ttf);
  src: url(../fonts/Lato/Lato-Regular.ttf); }

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Black.ttf);
  src: url(../fonts/Roboto/Roboto-BlackItalic.ttf);
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
  src: url(../fonts/Roboto/Roboto-BoldItalic.ttf);
  src: url(../fonts/Roboto/Roboto-Italic.ttf);
  src: url(../fonts/Roboto/Roboto-Light.ttf);
  src: url(../fonts/Roboto/Roboto-LightItalic.ttf);
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
  src: url(../fonts/Roboto/Roboto-MediumItalic.ttf);
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  src: url(../fonts/Roboto/Roboto-Thin.ttf);
  src: url(../fonts/Roboto/Roboto-ThinItalic.ttf); }

/*@font-face {
    font-family: Font-Awesome;
    src: url(../fonts/font-awesome-4.6.3/fonts/FontAwesome.otf);
    src: url(../fonts/font-awesome-4.6.3/fonts/fontawesome-webfont.eot);
    src: url(../fonts/font-awesome-4.6.3/fonts/fontawesome-webfont.svg);
    src: url(../fonts/font-awesome-4.6.3/fonts/fontawesome-webfont.ttf);
    src: url(../fonts/font-awesome-4.6.3/fonts/fontawesome-webfont.woff);
    src: url(../fonts/font-awesome-4.6.3/fonts/fontawesome-webfont.woff2);
} */
body, html {
  font-family: 'Lato', sans-serif;
  width: 100% !important;
  height: 100% !important;
  font-size: 20px; }

h2 {
  text-transform: uppercase;
  line-height: 20px;
  margin: 0;
  color: #2c3e50; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

ul, ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0; }

ul, ol {
  list-style: none; }

.intro {
  background: url(../img/intro-js.jpg) no-repeat fixed center;
  background-size: cover;
  text-align: center;
  display: table;
  width: 100%;
  height: 100%;
  padding: 100px 0; }

header .intro-text {
  padding-top: 0px;
  padding-bottom: 200px; }
  header .intro-text h1 {
    font-weight: 600;
    font-size: 70px;
    letter-spacing: 7px;
    color: #EEEEEE; }
  header .intro-text p {
    font-size: 40px;
    color: #EEEEEE;
    margin-bottom: 30px; }
  header .intro-text a.intro-btn {
    color: #EEEEEE;
    border: 2px solid #EEEEEE;
    -webkit-border-radius: 8px;
            border-radius: 8px;
    font-size: 25px;
    margin: 5px;
    padding: 7px; }
    header .intro-text a.intro-btn:hover {
      background-color: #E0F2F1;
      color: #2c3e50;
      text-decoration: none;
      border: 2px solid #E0F2F1; }
    header .intro-text a.intro-btn:active {
      background-color: #E0F2F1;
      color: #2c3e50;
      text-decoration: none;
      border: 2px solid #E0F2F1; }
    header .intro-text a.intro-btn:visited {
      text-decoration: none; }
    header .intro-text a.intro-btn:focus {
      text-decoration: none; }

div#nav {
  z-index: 9999; }
  div#nav i.glyphicon {
    color: white; }

.affix-custom {
  position: absolute;
  width: 100%; }

.affix {
  position: fixed;
  top: 0;
  width: 100%; }

nav.navbar-custom {
  margin-bottom: 0;
  background-color: #212121;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  padding: 6px 0; }
  nav.navbar-custom a {
    color: #EEEEEE;
    font-size: 20px;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
    nav.navbar-custom a:hover {
      background-color: #212121;
      color: #E87E04;
      text-decoration: none; }
    nav.navbar-custom a:active {
      background-color: #212121;
      color: #E87E04;
      text-decoration: none; }
    nav.navbar-custom a:visited {
      background-color: #212121;
      text-decoration: none; }
    nav.navbar-custom a:focus {
      text-decoration: none; }

.navbar-custom .navbar-brand {
  font-weight: 600; }

#about {
  padding: 80px 0; }
  #about img {
    -webkit-border-radius: 50%;
            border-radius: 50%;
    width: 200px;
    height: 200px;
    display: inline-block; }
  #about p {
    margin-top: 20px;
    margin-bottom: 30px; }
  #about .btn-primary {
    background: #212121;
    color: #E87E04;
    border: 2px solid white; }
    #about .btn-primary:hover {
      border: 2px solid #E87E04; }

.section-title.center {
  padding: 30px 0; }

.section-title.center hr {
  height: 4px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #E87E04;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 0; }

.section-title h2, .section-title.center h2 {
  font-weight: 700;
  margin-bottom: 30px; }

#services {
  padding: 80px 0;
  background: url(../img/services-bg.jpg);
  background-size: cover;
  background-attachment: fixed; }
  #services i.glyphicon {
    font-size: 50px; }
  #services .fa {
    font-size: 60px; }
  #services h4 {
    color: #E87E04;
    font-size: 25px; }

.space {
  margin-top: 40px; }

#portfolio {
  padding: 80px 0;
  background: #ffffff;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(49%, #f4f5f6), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(49%, #f4f5f6), to(#ffffff));
  background: linear-gradient(to bottom, #ffffff 0%, #f4f5f6 49%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
  /* IE6-9 */ }

.categories {
  padding-bottom: 30px;
  text-align: center; }

.cat li {
  display: inline-block; }

ol.type {
  display: inline-block; }
  ol.type li {
    margin-left: 20px; }
  ol.type li:after {
    content: ' | ';
    margin-left: 20px; }
  ol.type li:last-child:after {
    content: none; }
  ol.type li a {
    color: #616e7c;
    padding: 2px 8px;
    font-size: 15px; }
  ol.type li a.active {
    color: #E87E04;
    padding: 2px 8px; }
  ol.type li a:hover {
    color: #E87E04; }

/*
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope-item {
	// change duration value to whatever you like
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
*/
.portfolio-item {
  margin-bottom: 30px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.portfolio-item:hover {
  margin-bottom: 30px;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.portfolio-item .hover-bg {
  height: 260px;
  overflow: hidden;
  position: relative; }

.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.66);
  padding: 25% 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.hover-bg .hover-text > h4 {
  opacity: 0;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
      transform: translateY(100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.hover-bg:hover .hover-text > h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
      transform: translateY(0); }

.hover-bg .hover-text > i {
  opacity: 0;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
      transform: translateY(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.hover-bg:hover .hover-text > i {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
      transform: translateY(100%); }

.hover-bg:hover .hover-text {
  opacity: 1; }

#portfolio i.fa {
  font-size: 20px;
  padding: 5px;
  color: #E87E04; }

#skills {
  padding: 80px 0;
  background: url(../img/skills-bg.jpg);
  background-size: cover;
  background-attachment: fixed; }

#skills p {
  color: #474d5d; }

#skills .skill {
  margin-bottom: 40px;
  text-align: center;
  padding: 0px; }

#skills .skill h4 {
  font-weight: 900;
  font-size: 25px;
  color: #E87E04; }

.chart {
  position: relative;
  display: inline-block;
  width: 152px;
  height: 152px;
  margin-bottom: 26px;
  text-align: center; }

.chart canvas {
  position: absolute;
  top: 0;
  left: 0; }

.percent {
  display: inline-block;
  font-size: 21px;
  color: #474d5d;
  line-height: 152px;
  z-index: 2; }

.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em; }
